* {
  margin: 0;
  padding: 0;
}

.light-color {
  color: rgb(36, 186, 159);
}
.light-grey {
  color: rgb(150, 150, 150);
}

.strong-grey {
  color: rgb(120, 120, 120);
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
  max-width: 1024px;
  padding-left: 40px;
  padding-right: 40px;
  color: black;
}

.main {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px 100px 10px 100px;
  background-color: black;
  color: white;
  font-weight: 700;
}
/* Menu */
.nav-ul,
.drop {
  list-style: none;
}
.navigation-list-element {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}
.drop {
  display: none;
}
.navigation-list-element:hover .drop {
  display: block;
}

.drop-list-element {
  display: block;
}
.about-company {
  position: relative;
}
.nav-list-drop {
  position: absolute;
  padding-top: 5px;
}
.drop::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: black;
  position: absolute;
  top: -8px;
  z-index: -1;
  transform: rotate(45deg);
  left: 40%;
}
.drop {
  position: relative;
  background-color: black;
  color: white;
  margin-top: 20px;
  padding: 7px;
  font-weight: 400;
}
/* Menu - koniec */
/* Sekcja pierwsza z czarnym krzesłem */
.middle1 {
  display: flex;
  justify-content: center;
  align-items: center;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+1,e5e5e5+100 */
  background: rgb(255, 255, 255); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 1%,
    rgba(229, 229, 229, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 1%,
    rgba(229, 229, 229, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 1%,
    rgba(229, 229, 229, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.sign-left {
  font-size: 40px;
  font-weight: 400;
  width: 10%;
  text-align: center;
}

.sign-right {
  font-size: 40px;
  font-weight: 400;
  width: 10%;
  text-align: center;
}

.black-chair {
  width: 40%;
  height: 400px;
}

.main-information {
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align: center;
  align-items: center;
}

.main-text {
  margin-top: 25px;
}

.btn-see-more {
  background-color: rgb(36, 186, 159);
  color: white;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  width: 250px;
  padding: 10px 30px;
  font-size: 20px;
  display: inline-block;
  margin-top: 20px;
  border: none;
}
.arrow-link {
  text-decoration: none;
}
/* Sekcja pierwsza z czarnym krzesłem - koniec*/

/* Sekcja druga*/
.middle2 {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
}
.middle2-left {
  width: 32%;
  box-sizing: border-box;
  position: relative;
  background-image: url("../images/box1_img.jpg");
  background-repeat: no-repeat;
}
.middle2-middle {
  width: 32%;
  box-sizing: border-box;
}
.middle2-right {
  width: 32%;
  border: 2px solid lightgray;
  padding: 25px 20px 20px 20px;
  box-sizing: border-box;
}

.middle2-right-desc {
  margin-top: 10px;
}

.img-chair-container {
  position: absolute;
  bottom: 50px;
  background-color: rgba(229, 229, 229, 0.6);
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.chair-header {
  border-bottom: 5px solid rgb(36, 186, 159);
  width: 180px;
}
.middle2-middle {
  width: 30%;
  box-sizing: border-box;
  position: relative;
  background-image: url("../images/box2_img.jpg");
  background-repeat: no-repeat;
}
/*Sekcja druga - koniec*/

/* Sekcja Cennik */
.middle3 {
  background-color: rgb(241, 241, 241);
  padding: 40px 60px 40px 60px;
  height: 450px;
}

.middle3-main {
  display: flex;
  justify-content: space-between;
}

.middle3-info {
  position: relative;
  top: 50px;
  border: 2px solid rgb(178, 178, 178);
  width: 30%;
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(249, 249, 249);
  box-sizing: border-box;
  padding: 30px 0 0 0;
}

.middle3-info:nth-of-type(2n) {
  background-color: rgb(36, 186, 159);
  border-color: rgb(36, 186, 159);
}

.circle {
  position: absolute;
  top: -35px;
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  background-size: cover;
  border: 2px solid rgb(178, 178, 178);
}
.circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  background-color: rgb(178, 178, 178);
  border: 2px solid rgb(178, 178, 178);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.middle .circle {
  border-color: rgb(36, 186, 159);
  background-color: rgb(36, 186, 159);
}

.middle .circle::after {
  border-color: white;
  background-color: white;
}

.middle .middle3-info-header {
  color: white;
}

.price-circle {
  border-radius: 50%;
  border: 2px solid rgb(178, 178, 178);
  width: 80px;
  height: 80px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(178, 178, 178);
  background-color: white;
}
.middle .price-circle {
  border-color: white;
  background-color: white;
  color: rgb(36, 186, 159);
}

.price-box {
  font-weight: 900;
  display: inline-block;
  text-align: center;
}

.price-main {
  font-size: 20px;
}

.price-sup {
  font-size: 12px;
}

.price-desc {
  font-size: 12px;
}

.middle3-price-list {
  list-style: none;
  margin-top: 20px;
  display: block;
  width: 100%;
}

.middle3-price-list-item {
  width: 100%;
  height: 25px;
  display: block;
  text-align: center;
  padding-top: 6px;
}

.middle3-price-list-item:nth-of-type(2n + 1) {
  background-color: rgb(220, 220, 220);
}

.middle .middle3-price-list-item:nth-of-type(2n + 1) {
  background-color: white;
}

.middle3-price-list-item:nth-of-type(2n) {
  background-color: rgb(230, 230, 230);
}

.middle3-btn-join {
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  width: 120px;
  padding: 5px 30px;
  font-size: 14px;
  display: inline-block;
  border: none;
  position: absolute;
  bottom: 10px;
  background-color: rgb(36, 186, 159);
  color: white;
}

.middle .middle3-btn-join {
  background-color: white;
  color: rgb(36, 186, 159);
}

/* Sekcja Cennik - Koniec */

/* Sekcja Kontakt */

.middle4 {
  padding: 40px 60px 40px 60px;
  height: 400px;
}
.contact {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.contact-left {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.contact-right {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-right-agreement {
  display: flex;
  align-items: center;
}
.form-element {
  margin: 15px 0 0 0;
  border: 2px solid rgba(36, 186, 159, 0.2);
  line-height: 24px;
  padding-left: 5px;
  box-sizing: border-box;
}

.form-submit {
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  padding: 7px 30px;
  font-size: 20px;
  display: block;
  border: none;
  background-color: rgb(36, 186, 159);
  color: white;
  margin-top: 20px;
}

.img-box {
  border: 1px solid rgba(36, 186, 159, 0.2);
  margin: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}

.img-ok {
  width: 38px;
  height: 38px;
}
/* Sekcja Kontakt - koniec */

/* Sekcja stopka */
footer {
  padding: 20px 60px 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-right {
  display: flex;
  justify-content: space-between;
  width: 300px;
  align-items: center;
}

.footer-bold {
  font-weight: 900;
}

/* Sekcja stopka - koniec */
