* {
  margin: 0;
  padding: 0;
}

.main_width {
  margin: 0 auto;
  max-width: 1024px;
  padding-left: 40px;
  padding-right: 40px;
}

body {
  font-family: "Raleway", sans-serif;
}
.main {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px 100px 10px 100px;
  background-color: black;
  color: white;
  font-weight: 700;
}

.nav-ul,
.drop {
  list-style: none;
}
.navigation-list-element {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}
.drop {
  display: none;
}
.navigation-list-element:hover .drop {
  display: block;
}

/* .navigation-list-element .drop {
  text-transform: uppercase;
} */

.drop-list-element {
  display: block;
}
.about-company {
  position: relative;
}
.drop {
  position: absolute;
}
.about-company {
  padding-bottom: 40px;
}
